{% extends "html/formdefinition/base.html" %}

{% block content %}
<script type="text/javascript" src="{{ STATIC_URL }}form_designer/js/jquery-form-builder/lib/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}form_designer/js/jquery-form-builder/lib/jquery-ui-1.8.7.custom.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}form_designer/js/jquery-form-builder/lib/jquery.json-2.2.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}form_designer/js/jquery-form-builder/lib/jquery.qtip.min.js"></script>

<script type="text/javascript" src="{{ STATIC_URL }}form_designer/js/jquery-form-builder/jquery.formbuilder.core.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}form_designer/js/jquery-form-builder/jquery.formbuilder.widget.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}form_designer/js/jquery-form-builder/jquery.formbuilder.plaintext.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}form_designer/js/jquery-form-builder/jquery.formbuilder.singlelinetext.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}form_designer/js/jquery-form-builder/jquery.formbuilder.singlefileupload.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}form_designer/js/jquery-form-builder/jquery.formbuilder.checkbox.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}form_designer/js/jquery-form-builder/jquery.formbuilder.select.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}form_designer/js/jquery-form-builder/jquery.colorpicker.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}form_designer/js/jquery-form-builder/jquery.fontpicker.js"></script>

<link type="text/css" href="{{ STATIC_URL }}form_designer/css/jquery-form-builder/lib/smoothness/jquery-ui-1.8.7.custom.css" media="screen" rel="stylesheet" />
<link type="text/css" href="{{ STATIC_URL }}form_designer/css/jquery-form-builder/lib/uni-form.css" media="screen" rel="stylesheet" />
<link type="text/css" href="{{ STATIC_URL }}form_designer/css/jquery-form-builder/lib/default.uni-form.css" media="screen" rel="stylesheet" />
<link type="text/css" href="{{ STATIC_URL }}form_designer/css/jquery-form-builder/lib/jquery.qtip.css" media="screen" rel="stylesheet" />

<link type="text/css" href="{{ STATIC_URL }}form_designer/css/jquery-form-builder/jquery.formbuilder.core.css" media="screen" rel="stylesheet" />
<link type="text/css" href="{{ STATIC_URL }}form_designer/css/jquery-form-builder/jquery.formbuilder.plaintext.css" media="screen" rel="stylesheet" />
<link type="text/css" href="{{ STATIC_URL }}form_designer/css/jquery-form-builder/jquery.formbuilder.singlelinetext.css" media="screen" rel="stylesheet" />
<link type="text/css" href="{{ STATIC_URL }}form_designer/css/jquery-form-builder/jquery.colorpicker.css" media="screen" rel="stylesheet" />
<link type="text/css" href="{{ STATIC_URL }}form_designer/css/jquery-form-builder/jquery.fontpicker.css" media="screen" rel="stylesheet" />
{% if form_definition.title %}<h2>{{ form_definition.title }}</h2>{% endif %}
{% if form_definition.body %}<p>{{ form_definition.body|linebreaksbr }}</p>{% endif %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div id="formbuilderContainer">
    <div id="builderPalette">
        <div class="floatingPanelIdentifier"></div>
        <div class="floatingPanel">
            <div id="paletteTabs">
                <ul>
                    <li><a href="#addField">Add Field</a></li>
                    <li><a href="#fieldSettings">Field Settings</a></li>
                    <li><a href="#formSettings">Form Settings</a></li>
                </ul>
                <div id="addField">
                    <strong>Standard Fields</strong>
                    <div id="standardFields"></div>
                    <br />
                    <strong>Fancy Fields</strong>
                    <div id="fancyFields"></div>
                </div>
                <div id="fieldSettings">
                    <fieldset class="language">
                        <legend></legend>
                    </fieldset>
                    <div class="general">
                    </div>
                </div>
                <div id="formSettings">
                    <fieldset class="language">
                        <legend>
                            <label for="language">Language: </label>
                            <select id="language">
                                <option value="en">English</option>
                                <option value="zh_CN">简体中文</option>
                            </select>
                        </legend>
                    </fieldset>
                    <div class="general"></div>
                </div>
            </div>
        </div>
    </div>
    <form id="builderForm" method="POST" action="{% url form_designer_save form_definition.name %}" class="uniForm">
        <input type="hidden" id="name" name="name" />
        <input type="hidden" id="settings" name="settings" />
        <div id="builderPanel">
            <div class="formHeading"></div>
            <fieldset>
                <div id="emptyBuilderPanel">Start adding some fields from the menu on the left.</div>
                {% for field in fields %}
                <div class="ctrlHolder" style="" rel="{{ field.sequence }}">
                    <a class="ui-corner-all closeButton" href="#">
                        <span class="ui-icon ui-icon-close">delete this widget</span>
                    </a>
                    <div class="{{field.type}} {% if field.dict_settings.en.classes %}{% for class in  field.dict_settings.en.classes %}{{ class }} {% endfor %}{% endif %}">
                        {% if field.type == 'SingleLineText' %}
                        <label><em>{% if field.dict_settings.required %}*{% endif %}</em><span>{{ field.dict_settings.en.label }}</span></label>
                        <input type="text" class="textInput" value={{ field.dict_settings.en.value }} />
                        <p class="formHint">{{ field.dict_settings.en.description }}</p>
                        {% endif %}{% if field.type == 'SingleFileUpload' %}
                        <label><em>{% if field.dict_settings.required %}*{% endif %}</em><span>{{ field.dict_settings.en.label }}</span></label>
                        <input type="file" class="fielUpload" />
                        <p class="formHint">{{ field.dict_settings.en.description }}</p>
                        {% endif %}{% if field.type == 'CheckBox' %}
                        <label><em>{% if field.dict_settings.required %}*{% endif %}</em><span>{{ field.dict_settings.en.label }}</span></label>
                        <input type="checkbox" />
                        <p class="formHint">{{ field.dict_settings.en.description }}</p>
                        {% endif %}{% if field.type == 'PlainText' %}
                        {{ field.dict_settings.en.text }}
                        {% endif %}
                    </div>
                    <div class="fieldProperties">
                        <input type="hidden" id="fields[{{ field.sequence }}].id" name="fields[{{ field.sequence }}].id" value="{{ field.id }}">
                        <input type="hidden" id="fields[{{ field.sequence }}].name" name="fields[{{ field.sequence }}].name" value="{{ field.name }}">
                        <input type="hidden" id="fields[{{ field.sequence }}].type" name="fields[{{ field.sequence }}].type" value="{{ field.type }}">
                        <input type="hidden" id="fields[{{ field.sequence }}].settings" name="fields[{{ field.sequence }}].settings" value="{{ field.settings }}">
                        <input type="hidden" id="fields[{{ field.sequence }}].sequence" name="fields[{{ field.sequence }}].sequence" value="{{ field.sequence }}">
                        <input type="hidden" id="fields[{{ field.sequence }}].status" name="fields[{{ field.sequence }}].status">
                    </div>
                </div>
                {% endfor %}
            </fieldset>
        </div>
        <div class="buttons">
            <input type="submit" name="create" class="save" value="Create" id="create" />
        </div>
    </form>
</div>

<script type="text/javascript">
    $(function() {
        $('#formbuilderContainer').formbuilder();
        $('div.buttons').children().button();
    });
</script>
{% endblock %}
